{"ruleId":1,"ruleState":"ACTIVE","windowType":"tumbling","windowMinutes":2,"groupingKeyNames":"t_group","aggregatorFunctionType":"SUM","aggregateFieldName":"cpu_usage","LimitOperatorType":"GREATER","limit":11}
